@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e9f7;
    display: flex;
    min-height: 100vh;
}

main {
    padding: 20px;
    padding-left: calc(82px + 20px);
    position: fixed;
    z-index: 1;
}

#sidebar {
    background-color: #ffffff;
    border-radius: 0 18px 18px 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    min-width: 82px;
    position: relative;
    transition: all .5s;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    border-radius: 20px;
    height: 50px;
    /* para não perder a qualidade */
    object-fit: cover;
    width: 50px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

/* apenas o último */
#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    cursor: pointer;
    padding: 14px;
}

.side-item.active {
    background-color: #4f46e5;
}

.side-item:hover:not(.active), #logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    align-items: center;
    color: #0a0a0a;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    gap: 20px;
    padding: 12px;
    text-align: start;
}

#open_btn {
    background-color: #4f46e5;
    border: none;
    border-radius: 100%;
    color: #e3e9f7;
    cursor: pointer;
    height: 20px;
    padding: auto 1px;
    position: absolute;
    right: -10px;
    top: 30px;
    width: 20px;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    /* gira a seta do menu de acordo com a classe. */
    transform: rotate(180deg);
}

.item-description {
    font-size: 14px;
    height: 0;
    overflow: hidden;
    transition: width .6s;
    /* caso o texto seja muito grande */
    text-overflow: ellipsis;
    /* não quebrar linha */
    white-space: nowrap;
    width: 0;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    height: auto;
    width: 150px;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
